<div class="prod-items section-items prod-tb">
    <div class="prodtb-i">
        <div class="prodtb-i-top d-flex">
            <button class="prodtb-i-toggle" type="button"></button>
            <div class="w-25"><h3 class="prodtb-i-ttl"><a href="product.html">Hiep</a></h3></div>
            <div style="height: 100%;
            width: 20%;
            display: flex;
            align-items: center;
            padding: 0 30px 0;
            border-left: 1px solid #e0e4f6;">
                <h3>18/09/2020</h3>
            </div>
            <div style="height: 100%;
            width: 20%;
            display: flex;
            align-items: center;
            padding: 0 30px 0;
            border-left: 1px solid #e0e4f6;">
                <h3>3 sản phẩm</h3>
            </div>
            <div class="prodtb-i-info" style="display: flex;
            align-items: center;
            justify-content: center;">
                <span class="prodtb-i-price">
                    <b>$59</b>
                </span>
            </div>
            <p class="prodtb-i-action">
                <span class="btn btn-primary">Đã đặt hàng</span>
            </p>
        </div>
        <div class="prodlist-i">
            <a class="list-img-carousel prodlist-i-img" ><!-- NO SPACE --><img src="http://placehold.it/300x311" alt="Adipisci aperiam commodi"><!-- NO SPACE --></a>
            <div class="prodlist-i-cont">
                <div class="prodlist-i-txt">
                    Quisquam totam quas veritatis dolor voluptates, laudantium repellendus. Cupiditate repellat tempora consequatur sequi, neque                            </div>
                <div class="prodlist-i-skuwrap">
                    <div class="prodlist-i-skuitem">
                        <p class="prodlist-i-skuttl">Color</p>
                        <ul class="prodlist-i-skucolor">
                            <li class="active"><img src="img/color/blue.jpg" alt=""></li>
                            <li><img src="img/color/red.jpg" alt=""></li>
                            <li><img src="img/color/green.jpg" alt=""></li>
                        </ul>
                    </div>
                    <div class="prodlist-i-skuitem">
                        <p class="prodlist-i-skuttl">Clothes sizes</p>
                        <div class="offer-props-select">
                            <p>XS</p>
                            <ul>
                                <li><a href="#">S</a></li>
                                <li><a href="#">M</a></li>
                                <li><a href="#">L</a></li>
                                <li class="active"><a href="#">XS</a></li>
                                <li><a href="#">XL</a></li>
                                <li><a href="#">XXL</a></li>
                                <li><a href="#">XXXL</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <ul class="prodlist-i-props2">
                <li><span class="prodlist-i-propttl"><span>Exterior</span></span> <span class="prodlist-i-propval">Silt Pocket</span></li>
                <li><span class="prodlist-i-propttl"><span>Material</span></span> <span class="prodlist-i-propval">PU</span></li>
                <li><span class="prodlist-i-propttl"><span>Occasion</span></span> <span class="prodlist-i-propval">Versatile</span></li>
                <li><span class="prodlist-i-propttl"><span>Shape</span></span> <span class="prodlist-i-propval">Casual Tote</span></li>
                <li><span class="prodlist-i-propttl"><span>Pattern Type</span></span> <span class="prodlist-i-propval">Solid</span></li>
                <li><span class="prodlist-i-propttl"><span>Style</span></span> <span class="prodlist-i-propval">American Style</span></li>
                <li><span class="prodlist-i-propttl"><span>Hardness</span></span> <span class="prodlist-i-propval">Soft</span></li>
                <li><span class="prodlist-i-propttl"><span>Decoration</span></span> <span class="prodlist-i-propval">None</span></li>
                <li><span class="prodlist-i-propttl"><span>Closure Type</span></span> <span class="prodlist-i-propval">Zipper</span></li>
            </ul>
        </div>
    </div>
    
</div>