<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        <a class="nav-link active ms-0" href="https://www.bootdey.com/snippets/view/bs5-edit-profile-account-details" target="__blank">Profile</a>
        <a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-profile-billing-page" target="__blank">Billing</a>
        <a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-profile-security-page" target="__blank">Security</a>
        <a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-edit-notifications-page"  target="__blank">Notifications</a>
    </nav>
    <hr class="mt-0 mb-4">
    <div class="row">
        
        <div class="col-xl-12">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Create Account </div>
                <div class="card-body">
                    <form>
                        <div class="row gx-3 mb-3">
                           
                            <div class="col-md-6">
                                <label class="small mb-1" >Tên</label>
                                <input class="form-control" id="name" type="text" name="name" placeholder="Enter your name" value="{{person.name}}" [(ngModel)]="person.name">
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" >Username</label>
                                <input class="form-control" id="username" type="text" name= "username" placeholder="Enter your username" value="{{person.username}}" [(ngModel)]="person.username">
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" >Password</label>
                                <input class="form-control" id="password" type="text" name= "password" placeholder="Enter your password" value="{{person.password}}" [(ngModel)]="person.password">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" >Địa Chỉ</label>
                            <input class="form-control" id="address" type="text" name= "address" placeholder="Enter your address" value="{{person.address}}" [(ngModel)]="person.address"> 
                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" >Số Điện Thoại</label>
                                <input class="form-control" id="phone" type="text" name= "phone" placeholder="Enter your phone number" value="{{person.phone}}" [(ngModel)]="person.phone">
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" >Vai Trò</label>
                                <app-select-muti-module [multipe]="false" [optionItems]="roleSelect" (onChangeSelect)="onchageRoleSelect($event)"></app-select-muti-module>
                            </div>
                        </div>
                        <!-- Save changes button-->
                        <button class="btn btn-primary" type="button" (click)="createPerson()">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
