<div class="dropdown h-100 w-100" (mouseenter)="openDropdown()" (mouseleave)="closeDropdown()"> 
  <a class="btn btn-light dropdown-toggle w-100 h-100" 
  [ngClass]="active.categoryCode === category.code ? 'active'  : ''">
    {{category.name}}
  </a>
  <ul class="dropdown-menu" [ngClass]="isOpen">
    <div *ngFor="let item of category.types ; index as i" class="d-flex flex-column">
      <li >
        <a class="dropdown-item"  
        (click)="onDropdownClick(category.code , item.code)"
        [ngClass]="active.categoryCode === category.code && active.typeCode === item.code ? 'active'  : ''"
         href="/products?categoryCode={{category.code}}&typeCode={{item.code}}" >
        {{ item.name }}
         </a>
      </li>
      <div class="dropdown-divider" *ngIf="i !== category.types.length - 1"></div>
    </div>
  </ul>
</div>


