<!-- Header - start -->
<header class="header">

    <!-- Topbar - start -->
    <div class="header_top">
        <div class="container h-36px w-1170px">
            <ul class="contactinfo nav nav-pills">
                <li>
                    <i class='fa fa-phone'></i> +7 777 123 1575
                </li>
                <li>
                    <i class="fa fa-envelope"></i> admin@licute-web.pro
                </li>
            </ul>
            <!-- Social links -->
            <ul class="social-icons nav navbar-nav flex-row">
                <li>
                    <a href="https://www.facebook.com/phamleyenly" rel="nofollow" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="/home" rel="nofollow" target="_blank">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </li>
                <li>
                    <a href="/home" rel="nofollow" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="/home" rel="nofollow" target="_blank">
                        <i class="fa fa-vk"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/phleyenly" rel="nofollow" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
            </ul>		</div>
    </div>
    <!-- Topbar - end -->

    <!-- Logo, Shop-menu - start -->
    <div class="header-middle">
        <div class="container w-1170px d-flex justify-content-between align-items-center">
            <div class="toplogo">
                <a href="/home">
                    <img src="/assets/client/img/logo.png" alt="AllStore - MultiConcept eCommerce Template">
                </a>
            </div>
            <div class="shop-menu">
                <ul>

                    <li>
                        <a class="mouster-a" (click)="showWarningPendingFeature()">
                            <i class="fa fa-heart"></i>
                            <span class="shop-menu-ttl">Wishlist</span>
                            (<span id="topbar-favorites">1</span>)
                        </a>
                    </li>

                    <li>
                        <a class="mouster-a" (click)="showWarningPendingFeature()">
                            <i class="fa fa-bar-chart"></i>
                            <span class="shop-menu-ttl">Compare</span> (5)
                        </a>
                    </li>

                    <li>
                        <div class="h-cart">
                            <a href="/cart">
                                <i class="fa fa-shopping-cart"></i>
                                <span class="shop-menu-ttl">Cart</span>
                            </a>
                        </div>
                    </li>

                    <li *ngIf="session !== null ">
                        <div class="h-user">
                            <a href="/account">
                                <i class="fa fa-user"></i>
                                <span class="shop-menu-ttl">{{person.name}}</span>
                            </a>
                        </div>
                    </li>

                    <li class="topauth" *ngIf="session === null">
                        <a href="/login">
                            <i class="fa fa-lock"></i>
                            <span class="shop-menu-ttl">Registration</span>
                        </a>
                        <a href="/login">
                            <span class="shop-menu-ttl">Login</span>
                        </a>
                    </li>

                    <li class="mouster-a" *ngIf="session !== null " (click)="logout()">
                        <a>
                            <i class="fa fa-sign-out text-center mr-1"></i> 
                            <span class="shop-menu-ttl">Logout</span>
                        </a>
                    </li>

                   

                </ul>
            </div>
        </div>
    </div>
    <!-- Logo, Shop-menu - end -->

    <!-- Topmenu - start -->
    <div class="header-bottom">
        <div class="container w-1170px">
            <nav class="topmenu">

                <!-- Catalog menu - start -->
                <div class="topcatalog">
                    <a class="topcatalog-btn" href="/products"><span>Tất cả</span> sản phẩm</a>
                </div>
                <!-- Catalog menu - end -->
                <!-- Main menu - start -->
                <button type="button" class="mainmenu-btn">Menu</button>
                <ul class="main-menu d-flex flex-row">
                    <li class="h-100" *ngFor="let item of categories">
                        <app-dropdown [category]="item"></app-dropdown>
                    </li>
                </ul>
                <!-- Main menu - end -->
                <!-- Search - start -->
                <div class="topsearch">
                    <a id="topsearch-btn" class="topsearch-btn" href="#"><i class="fa fa-search"></i></a>
                    <div class="topsearch-form" action="#">
                        <input type="text" placeholder="Search products">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <!-- Search - end -->

            </nav>		</div>
    </div>
    <!-- Topmenu - end -->
</header>
<!-- Header - end -->
