<!-- Popular Products -->
<div class="fr-pop-wrap">

    <h3 class="component-ttl"><span>Popular products</span></h3>

    <ul class="fr-pop-tabs sections-show">
        <li><a class="active" (click)="getAllProduct()">All Categories</a></li>
        <li *ngFor="let item of categories" class="h-100"> 
            <app-dropdown [category]="item" (onChangeCategoryAndType)="onChangeCategoryAndType($event)"></app-dropdown>
        </li> 
    </ul>

    <div class="fr-pop-tab-cont">
        <div class="flexslider prod-items fr-pop-tab">
            <carousel [itemsPerSlide]="4"
             [singleSlideOffset]="true"
             [interval]="0"
             [noWrap]="true">
             <slide *ngFor="let product of products; let index=index">
             <app-slide-product [product] = "product"></app-slide-product>
             </slide>
            </carousel>
        </div>
    </div><!-- .fr-pop-tab-cont -->
</div><!-- .fr-pop-wrap -->