.title1 , .title2 {
    padding-left: 20px
}

.title1 {
    padding-top: 20px;
}

.title2 {
    padding-top: 5px;
}

::ng-deep .ng-dropdown-panel {
    background-color: #fff;
    border: 1px solid black;
    opacity: 1;
    z-index: 9999; /* đặt z-index cao hơn để nó hiển thị trên các phần tử khác */
 }