<div class="prodlist-i">
    <a class="prodlist-i-img" href="/products/{{product.id}}"><!-- NO SPACE --><img src="{{product.image[0]}}" alt="Adipisci aperiam commodi"><!-- NO SPACE --></a>
    <div class="prodlist-i-cont">
        <h3><a href="/products/{{product.id}}">{{product.name}}</a></h3>
        <div class="prodlist-i-txt">
            {{product.description}}	</div>
        <div class="prodlist-i-skuwrap">
            <div class="prodlist-i-skuitem">
                <p class="prodlist-i-skuttl">{{product.name}}</p>
                <ul class="prodlist-i-skucolor">
                    <li class="active"><img src="assets/client/img/color/blue.jpg" alt=""></li>
                    <li><img src="assets/client/img/color/red.jpg" alt=""></li>
                    <!--<li><img src="assets/client/img/color/yellow.jpg" alt=""></li>-->
                    <!--<li><img src="assets/client/img/color/purple.jpg" alt=""></li>-->
                    <li><img src="assets/client/img/color/green.jpg" alt=""></li>
                </ul>
            </div>
            <div class="prodlist-i-skuitem">
                <p class="prodlist-i-skuttl">Clothes sizes</p>
                <div class="offer-props-select">
                    <p>{{product.size[0]}}</p>
                    <ul >
                        <li *ngFor="let item of product.size" (click)="selectSize(item)"><a >{{item}}</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="prodlist-i-action">
            <p class="prodlist-i-qnt">
                <input value="{{quantity}}" [(ngModel)]="quantity" name="quantity" type="text">
                <a  class="prodlist-i-plus" (click)="up()"><i class="fa fa-angle-up"></i></a>
                <a  class="prodlist-i-minus" (click)="down()"><i class="fa fa-angle-down"></i></a>
            </p>
            <p class="prodlist-i-addwrap">
                <a  class="prodlist-i-add" (click)="createCart()">Add to cart</a>
            </p>
        <span class="prodlist-i-price">
            <b>{{product.price | currency:'VND'}}</b>
                                    </span>
        </div>
        <!-- <p class="prodlist-i-info">
            <a href="#" class="prodlist-i-favorites"><i class="fa fa-heart"></i> Add to wishlist</a>
            <a href="#" class="qview-btn prodlist-i-qview"><i class="fa fa-search"></i> Quick view</a>
            <a class="prodlist-i-compare" href="#"><i class="fa fa-bar-chart"></i> Compare</a>
        </p> -->
    </div>

    <div class="prodlist-i-props-wrap">
        <ul class="prodlist-i-props">
            <li><b>Phong cách:</b> {{product.tags}}</li>
            <li><b>Chất liệu:</b> {{product.material}}</li>
            <li><b>Xuất xứ:</b> {{product.origin}}</li>
            <li><b>Kho hàng:</b> {{product.stock}}</li>
        </ul>
    </div>
</div>
