<notifier-container></notifier-container>
<app-header *ngIf="!isAdminPage"></app-header>

<router-outlet *ngIf="!isAdminPage"></router-outlet>
 

<!-- <app-footer></app-footer> -->

<body class="sb-nav-fixed admin-container" *ngIf="isAdminPage">
    <div id="layoutSidenav" class="d-flex flex-column">
        <div id="layoutSidenav_nav">
            <app-sidebar></app-sidebar>
        </div>
        <div id="layoutSidenav_content" class="bg-light">
            <app-header-admin class="header-admin"></app-header-admin>
            <router-outlet class="h-100"></router-outlet>
            <app-footer-admin class="footer-admin"></app-footer-admin>
        </div>
    </div>
</body>