<body>
	<section class="py-5 my-5 ">
		<div class="container w-1170px">
			<h1 class="mb-5">Account Settings</h1>
			<div class="bg-white shadow rounded-lg d-block d-sm-flex ">
				<div class="profile-tab-nav border-right">
					<div class="p-4">
						<div class="img-circle text-center mb-3">
							<img src="assets/account/img/user2.jpg" alt="Image" class="shadow">
						</div>
						<h4 class="text-center">{{person.name}}</h4>
					</div>
					<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
						<a class="nav-link" [ngClass]="check1" id="account-tab" data-toggle="pill"  role="tab" aria-controls="account" aria-selected="false" (click)="isOpen1()">
							<i class="fa fa-home text-center mr-1"></i> 
							Thông tin tài khoản
						</a>

						<a class="nav-link" [ngClass]="check6" id="account-tab" data-toggle="pill"  role="tab" aria-controls="account" aria-selected="false" (click)="isOpen6()">
							<i class="fa fa-edit"></i>
							Thay đổi thông tin
						</a>

						<a class="nav-link" [ngClass]="check2" id="password-tab" data-toggle="pill"  role="tab" aria-controls="password" aria-selected="false" (click)="isOpen2()">
							<i class="fa fa-key text-center mr-1"></i> 
							Thay đổi mật khẩu
						</a>
						<a class="nav-link" [ngClass]="check3" id="security-tab" data-toggle="pill"  role="tab" aria-controls="security" aria-selected="false" (click)="isOpen3()" >
							<i class="fa fa-user text-center mr-1"></i> 
							Bảo vệ tài khoản
						</a>
						<a class="nav-link" [ngClass]="check4" id="application-tab" data-toggle="pill"  role="tab" aria-controls="application" aria-selected="false" (click)="isOpen4()">
							<i class="fa fa-tv text-center mr-1"></i> 
							Nhật kí mua hàng
						</a>
						<a class="nav-link " [ngClass]="check5" id="notification-tab" data-toggle="pill"  role="tab" aria-controls="notification" aria-selected="false" (click)="isOpen5()" >
							<i class="fa fa-bell text-center mr-1"></i> 
							Notification
						</a>
						<a class="nav-link " [ngClass]="check7" id="notification-tab" data-toggle="pill"  role="tab" aria-controls="notification" aria-selected="false" (click)="isOpen7()" >
							<i class="fa fa-sign-out text-center mr-1"></i> 
							Đăng Xuất
						</a>
						
					</div>
				</div>
				<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
					<div class="tab-pane fade" [ngClass]="check1" id="account" role="tabpanel" aria-labelledby="account-tab"  >
						<h3 class="mb-4">Thông tin tài khoản</h3>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Tên</label>
								  	<input type="text" class="form-control" value="{{person.name}}">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Số Điện Thoại</label>
								  	<input type="text" class="form-control" value="{{person.phone}}">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Username</label>
								  	<input type="text" class="form-control" value="{{person.username}}" disabled> 
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Password</label>
								  	<input type="password" class="form-control" value="{{person.password}}" readonly>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
								  	<label>Địa Chỉ</label>
									<textarea class="form-control" rows="4">{{person.address}}</textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" [ngClass]="check6" id="editAccount" role="tabpanel" aria-labelledby="account-tab"  >
						<h3 class="mb-4">Chỉnh sửa tài khoản</h3>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Tên</label>
								  	<input type="text" class="form-control" value="{{person.name}}" [(ngModel)]="person.name" name="name">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Số Điện Thoại</label>
								  	<input type="text" class="form-control" value="{{person.phone}}" [(ngModel)]="person.phone" name="phone">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Username</label>
								  	<input type="text" class="form-control" value="{{person.username}}" [(ngModel)]="person.username" name="username" disabled>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Password</label>
								  	<input type="password" class="form-control" value="{{person.password}}" readonly >
									  
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
								  	<label>Địa Chỉ</label>
									<textarea class="form-control" rows="4" [(ngModel)]="person.address" name="address"></textarea>
								</div>
							</div>
						</div>
						<div>
							<button class="btn btn-success custom-margin" (click)="openModal(template)">Update</button>
							<button class="btn btn-secondary" (click)="cancel()">Cancel</button>
						</div>
					</div>
					<div class="tab-pane fade" [ngClass]="check2" id="password" role="tabpanel" aria-labelledby="password-tab"  >
						<h3 class="mb-4">Password Settings</h3>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Old password</label>
								  	<input type="password" class="form-control" [(ngModel)]="passwordData.oldPassword" name="oldPassword">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
								  	<label>New password</label>
								  	<input type="password" class="form-control" [(ngModel)]="passwordData.newPassword" name="newPassword">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Confirm new password</label>
								  	<input type="password" class="form-control" [(ngModel)]="passwordData.confirmPassword" name="confirmPassword">
								</div>
							</div>
						</div>
						<div>
							<button class="btn btn-primary" (click)="changePassword()">Update</button>
							<button class="btn btn-light">Cancel</button>
						</div>
					</div>
					<div class="tab-pane fade" [ngClass]="check3" id="security" role="tabpanel" aria-labelledby="security-tab"  >
						<h3 class="mb-4">Security Settings</h3>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Login</label>
								  	<input type="text" class="form-control">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Two-factor auth</label>
								  	<input type="text" class="form-control">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="recovery">
										<label class="form-check-label" for="recovery">
										Recovery
										</label>
									</div>
								</div>
							</div>
						</div>
						<div>
							<button class="btn btn-primary">Update</button>
							<button class="btn btn-light">Cancel</button>
						</div>
					</div>
					<div class="tab-pane fade" [ngClass]="check4" id="application" role="tabpanel" aria-labelledby="application-tab" >
						<h3 class="mb-4">Tất cả đơn hàng</h3>
						<div class="card">
							<div class="card-body">
								<div class="prod-items section-items prod-tb">
									
									<div class="prodtb-i">
										<div class="prodtb-i-top d-flex border-top">
											<div class="w-39">
												<h3 class="prodtb-i-ttl custom-text"><a>Tên Người Đặt Hàng</a></h3>
											</div>
											<div class="prodtb-i-style custom-text">
												<h3 class="size-text">Ngày Đặt Hàng</h3>
											</div>
											<div class="prodtb-i-style custom-text">
												<h3 class="size-text">Tổng số sản phẩm </h3>
											</div>
											<div class="prodtb-i-info">
												<span class="prodtb-i-price">
													<b>Tổng Tiền</b>
												</span>
											</div>
											<p class="prodtb-i-action size-text custom-text">
												<span>Trạng Thái Đơn Hàng </span>
											</p>
										</div>
									</div>
									
									<app-collapse-order *ngFor="let item of order" [order]="item" [role]="'CLIENT'"></app-collapse-order>
								</div>
							</div>
						</div>
						
					</div>
					<div class="tab-pane fade" [ngClass]="check5" id="notification" role="tabpanel" aria-labelledby="notification-tab"  > 
						<h3 class="mb-4">Notification Settings</h3>
						<div class="form-group">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="notification1">
								<label class="form-check-label" for="notification1">
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum accusantium accusamus, neque cupiditate quis
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="notification2" >
								<label class="form-check-label" for="notification2">
									hic nesciunt repellat perferendis voluptatum totam porro eligendi.
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="notification3" >
								<label class="form-check-label" for="notification3">
									commodi fugiat molestiae tempora corporis. Sed dignissimos suscipit
								</label>
							</div>
						</div>
						<div>
							<button class="btn btn-primary">Update</button>
							<button class="btn btn-light">Cancel</button>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
</body>

<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left" id="my-modal-title">Vui lòng xác nhận lại mật khẩu</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div id="my-modal-description">
		<input type="password" class="form-control" [(ngModel)]="password" name="passwordCheck">
      </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="updatePerson()">Enter</button>
    </div>
  </ng-template>
