<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <a href="/home" class="logo logo-light text-center">
        <span class="logo-lg">
            <img src="https://coderthemes.com/hyper_2/saas/assets/images/logo.png" alt="logo">
        </span>
        <span class="logo-sm">
            <img src="https://coderthemes.com/hyper_2/saas/assets/images/logo-sm.png" alt="small logo">
        </span>
    </a>
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">General</div>
            <a class="nav-link" href="/admin/home">
                <div class="sb-nav-link-icon"><i class="fa fa-home"></i></div>
                Trang Chủ
            </a>
            <div class="sb-sidenav-menu-heading">Main</div>

            <app-collapse-sidebar [id]="0" title="Tài Khoản" [collapseSidebar]="acccountCollapse" [hasAll]="true" [hasAdd]="true" icon="fa fa-user" baseLink="/admin/account"></app-collapse-sidebar>

            <app-collapse-sidebar-lv2 [id]="0" title="Sản Phẩm" [collapseSidebarL2]="productCollapse" icon="fa fa-shopping-bag" baseLink="/admin/products"></app-collapse-sidebar-lv2>

            <app-collapse-sidebar [id]="0" title="Đơn Hàng" [collapseSidebar]="orderCollapse" [hasAll]="true" icon="fa fa-credit-card" baseLink="/admin/order"></app-collapse-sidebar>

            <div class="sb-sidenav-menu-heading">Addons</div>
            <a class="nav-link mouster-a" (click)="featurePending()"> 
                <div class="sb-nav-link-icon"><i class="fa fa-comments"></i></div>
                Chat
            </a>
            <a class="nav-link mouster-a"  (click)="featurePending()">
                <div class="sb-nav-link-icon" ><i class="fa fa-users"></i></div>
                About
            </a>
        </div>
    </div>
</nav>

