<div class="prod-i">
    <div class="prod-i-top" >
        <a href="/products/{{product.id}}" class="prod-i-img"><!-- NO SPACE --><img src="{{product.image[0]}}" alt="Aspernatur excepturi rem"><!-- NO SPACE --></a>
        <p class="prod-i-info">
            <a  class="prod-i-favorites mouster-a" (click)="showWarningPendingFeature()"><span>Wishlist</span><i class="fa fa-heart"></i></a>
            <a  class="qview-btn prod-i-qview mouster-a" ><span>Quick View</span><i class="fa fa-search"></i></a>
            <a class="prod-i-compare mouster-a" (click)="showWarningPendingFeature()"><span>Compare</span><i class="fa fa-bar-chart"></i></a>
        </p>
        <p class="prod-i-addwrap">
            <a href="/products/{{product.id}}" class="prod-i-add">Xem chi tiết</a>
        </p>
    </div>
    <h3>
        <a href="/products/{{product.id}}">{{product.name}}</a>
    </h3>
    <p class="prod-i-price">
        <b>{{product.price | currency:'VND'}}</b>
    </p>
    <div class="prod-i-skuwrapcolor">
        <ul class="prod-i-skucolor">
            <li class="bx_active"><img src="/assets/client/img/color/red.jpg" alt="Red"></li>
            <li><img src="/assets/client/img/color/blue.jpg" alt="Blue"></li>
        </ul>
    </div>
</div>