<div class="prod-i">
    <div class="prod-i-top" >
        <a href="product.html" class="prod-i-img"><!-- NO SPACE --><img src="{{product.image[0]}}" alt="Aspernatur excepturi rem"><!-- NO SPACE --></a>
        <p class="prod-i-info">
            <a href="#" class="prod-i-favorites"><span>Wishlist</span><i class="fa fa-heart"></i></a>
            <a href="#" class="qview-btn prod-i-qview"><span>Quick View</span><i class="fa fa-search"></i></a>
            <a class="prod-i-compare" href="#"><span>Compare</span><i class="fa fa-bar-chart"></i></a>
        </p>
        <p class="prod-i-addwrap">
            <a href="#" class="prod-i-add">Go to detail</a>
        </p>
    </div>
    <h3>
        <a href="product.html">{{product.name}}</a>
    </h3>
    <p class="prod-i-price">
        <b>{{product.price}}</b>
    </p>
    <div class="prod-i-skuwrapcolor">
        <ul class="prod-i-skucolor">
            <li class="bx_active"><img src="/assets/client/img/color/red.jpg" alt="Red"></li>
            <li><img src="/assets/client/img/color/blue.jpg" alt="Blue"></li>
        </ul>
    </div>
</div>